
@font-face {
    font-family: 'sinhala';
    src: url('SinhalaMN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'baskerville';
    src:  url('Baskerville-Regular.otf')  format('opentype'), format('woff'), url('Baskerville-Regular.ttf')  format('truetype'), url('Baskerville-Regular.svg#Baskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    background: white;
    color: #121212;
  }


  body.main-page{
      overflow: hidden;
  }


  *{
      font-family: baskerville;
      letter-spacing: 1px;
  }
  
  .bg{
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    box-sizing: border-box;
    /* margin-bottom: 2em; */
  }

  .list.dark-mode .bg{
      background: #121212;
  }

  .transition{
    width: 100%;
    height: 0%;
    position: absolute;
    background: white;
    transition: all .55s ease;
    bottom: 0;
    z-index: 4;
    left: 0;
  }

  /* .transition .transition{
      background: white;
  } */


  .dark-mode .transition{
    background: #121212;
  }

  /* .dark-mode .transition .transition{
    background: white;
  } */


  .in-transition .transition{
      height: 100%;
  }

  
   .main-bg-wrapper{
    background: rgb(29,57,103);
    background: -moz-linear-gradient(128deg, rgba(29,57,103,1) 11%, rgba(21,43,82,1) 70%);
    background: -webkit-linear-gradient(128deg, rgba(29,57,103,1) 11%, rgba(21,43,82,1) 70%);
    background: linear-gradient(128deg, rgb(34, 78, 138) 11%, rgb(20, 45, 88) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d3967",endColorstr="#152b52",GradientType=1);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
   }

  .logo{font-size: 1.7em;position: fixed;color: #121212;top: 0.8em;left: 1.4em;font-family: sinhala;letter-spacing: 4px; opacity: 0; transition: all .5s ease ;
    z-index: 62;
}
.main-page .logo{
    transition: all .5s ease 1.4s
}

  .dark-mode .main-bg-wrapper{
    opacity:0;
    transition: all .1s ease;

  }

  body.dark-mode{
      background: #121212;
  }

  .in-transition .logo{
    color: white;
  }

  .in-transition.dark-mode .logo{
      color: #121212;
  }

  .loaded .logo{
      opacity: 1;
  }


  .menu{
      position: fixed;
      top: 1.7em;
      right: 2.4em;
      z-index: 61;
  }

  .menu .item {
    color: #121212;
    display: inline;
    margin-left: 1.4em;
    cursor: pointer;
    transition: all .5s ease .1s;
    opacity:0
}



.main-page .menu .item{
    transition: all .5s ease 1.9s;
}


.main-page .menu .item, .dark-mode .menu .item, .main-page .logo, .dark-mode .logo{
    color: white;
}

.loaded.main-page .menu .item{
    opacity: .4;
}

.loaded .menu .item{
    opacity: 1;
}

.menu:hover .item{
  opacity: 0.3;
}


.in-transition .menu .item{
    color: white;
  }

  .in-transition.dark-mode .menu .item{
      color: #121212;
  }


.menu .item:hover{
  opacity: 1 !important;
}



.bg .main-image{
    height: 68%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) translateZ(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
    opacity: 0;
    transition: all 1s ease;
    z-index: 43;
    cursor: pointer;
}


.bg .main-image.big{
    height: 45%;
}


.bg.active .main-image{
    transform: translateX(-50%) translateY(-50%) scale(1) translateZ(0);

}

.main-page .bg.active .main-image{
    transform: translateX(-50%) translateY(-50%) scale(1.05) translateZ(0);
}


.main-image-img {
    transform: scale(0.98) translateZ(0);
    height: 100%;
    transition: all .7s ease;
}
.active .main-image-img {
    transform: scale(1.02) translateZ(0);
}

.dim .main-image-img{
    transform: scale(1.04) translateZ(0);
}

.main-page .main-image{
    transform: translateX(-50%) translateY(-50%) scale(1.05) translateZ(0);
}



.loaded .bg .main-image{
    opacity: 1;
}


.bg .image-title{
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    opacity: 0;
    transition: all .7s ease;
    z-index: 44;
    cursor: pointer;
}

.main-page.loaded .bg .image-title{
    transition: all 1s ease 2.7s;
    opacity: 1;

}

  .list .bg .image-title{
        top: calc(100% + 2em);
        left: 50%;
        right: initial;
        transform: translateX(-50%);
  }



.bg .image-title span{
    font-size: 10em;
    font-family: sinhala;
    color: white;
    letter-spacing: 6px;
    position: relative;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.06);
    white-space: nowrap;
}



.list .bg .image-title span{
    color: #507292;
    font-size: 2em;
}



.explore{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease 3.4s;
}



.loaded .explore{
    opacity: 1;
}


.scroll{
    color: #757373;
    position: fixed;
    bottom: 20px;
    font-size: .9em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease .7s;
}



.dark-mode .scroll{
    color: white;
}





.list .scroll{
    opacity: 1;
}

.scroll.hidden{
    opacity: 0;
}

.main-bg{
    cursor: pointer;
    overflow: hidden;
}

.click-any {
    color: white;
    position: absolute;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0.8;
    transform: translateX(-500px) translateY(-500px);
    z-index: 49;
}

.click-any .span{
    position: absolute;
    width: 118px;
    top: 9px;
    left: 51px;
    opacity: 0;
    transition: all .3s ease 3.6s;
}

.loaded .click-any .span{
    opacity: 1;
}



.author{
    padding-left: 1.2em;
    position: relative;
    top: 0em;
    width: 100%;
    display: block;
    background: white;
    box-sizing: border-box;
}


.left-side{text-align: right;top: 20%;position: absolute;right: calc(100% + 5em);width: 16em;}

.right-side{text-align: center;bottom: 11%;position: absolute;left: calc(100% + 5em);width: 13em;}




.left-side .counter{
    opacity: 0;
    color: #121212;
    transition: all .5s ease;
    display: block;
}

.right-side .date{
    opacity: 0;
    display: block;
    color: #121212;
    transition: all .5s ease ;
}

.left-side .hint{
    opacity: 0;
    color: #757373;
    transition: all .5s ease .4s;
    display: block;
    font-size: .9em;
}

.right-side .hint{
    opacity: 0;
    font-size: .9em;
    color: #757373;
    transition: all .5s ease .2s;
}


.main-bg .left-side .counter, .main-bg .left-side .hint{
    opacity: 0 !important;
}


.list .main-image:hover .image-title,.active .main-image:hover .right-side .hint, .active .main-image:hover .right-side .date, .active .main-image .left-side .hint, .active .left-side .counter{
    opacity: 1;
}

.active .main-image:hover .left-side .hint{
    opacity: 0;
}

.dark-mode .author{
  background: #121212
}

.dark-mode .right-side .hint, .dark-mode .right-side .date, .dark-mode .left-side .hint, .dark-mode .left-side .counter, .dark-mode .author{
    color: white;
}

.dim-hint{
    font-size: .9em;
    opacity: 0;
    position: fixed;
    bottom: 1.7em;
    right: 2.4em;
    transition: all 1s ease;
    color: #757373;
}

.dark-mode .dim-hint{
    color: white;
}

.dim .dim-hint{
    opacity: 1;
}

.dim .image-title, .dim .logo, .dim .menu, .dim .left-side .counter, .dim .left-side .hint, .dim .right-side .date, .dim .right-side .hint, .dim .scroll{
    opacity: 0 !important;
}





.pre-info{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    transform: translateX(500%)  translateZ(0);
    background: #121212;
    z-index: 60;
    transition: all .7s ease;
}

.pre-cont{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    transform: translateX(500%)  translateZ(0);
    background: #121212;
    z-index: 63;
    transition: all .7s ease;
}

.pre-cont.active{
    transform: translateX(-100%)  translateZ(0);

}

.dark-mode .pre-info, .dark-mode .pre-cont{
    background: white;
}

.info .pre-info{
    transform: translateX(-100%)  translateZ(0);
}


.info-container{
    background: white;
    height: 100%;
    width: 100%;
    position: fixed;
    transform: translateX(120%) translateZ(0);
    top: 0;
    transition: all .7s ease;
    overflow: scroll;
    z-index: 60;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.06);
}

.dark-mode .info-container{
    background: #121212;
}

body.info{
    overflow: hidden;
}

.info-container.active{
    transform: translateX(0) translateZ(0);
}

.info-container .main-container{width: 100%;padding: 7em;box-sizing: border-box;padding-top: 9em;padding-bottom: 0;}


.left-content{width: 21%;display: inline-block;float: left;margin-right: 9%;}


.right-content{width: 70%;display: inline-block;float: left; color: #121212;}

.dark-mode .right-content{
    color : white;
}

.image{
    width: 100%;
    background: #121212;
    opacity: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.17);
    transform: scale(1.03) translateY(15px);
    transition: all 1s ease;
}

.image>img{
    max-width: 100%;
    max-height: 55vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.go-back{
    margin-top: 2em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: all .3s ease .4s;
    color: #121212;
}

.dark-mode .go-back{
    color: white;
}

.go-back::after{
    content: " ";
    height: 1px;
    width: 0;
    transition: all .3s ease;
    position: absolute;
    top: 1em;
    left: 0;
    background: #121212;
}

.dark-mode .go-back::after{
    background: white;
}


.go-back:hover::after{
    width: 100%;
    
}

h2.desc-title {
    font-family: sinhala;
    font-size: 2.4em;
    margin-top: -.3em;
    margin-bottom: 0;
    font-weight: lighter;
    transform: translateY(2px);
    opacity: 0;
    transition: all .3s ease .5s;
}

p.desc-main-details {
    font-size: 1.35em;
    margin-top: 0.4em;
    transform: translateY(2px);
    opacity: 0;
    transition: all .3s ease .7s;
}

p.desc-details {
    font-size: 1.15em;
    margin-top: 0.4em;
    margin-bottom: 2em;
    opacity: 0;
    transform: translateY(2px);
    transition: all .3s ease .9s;
}

p.desc {
    margin-bottom: 2.5em;
    transform: translateY(2px);
    opacity: 0;
    transition: all .3s ease 1.1s;
}

.images{
    width: 100%;
    transform: translateZ(0);
    opacity: 0;
    transition: all .7s ease 1.3s;
}

.show .images{
    opacity: 1;
    transition: all .3s ease;
}



.images .item{
    display: inline-block;
    float: left;
    width: 10em;
    height: 10em;
    margin-right: 2em;
    margin-bottom: 2em;
    background: #121212;
    cursor: pointer;
    position: relative;
    opacity: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.19);
    transform: translatey(4px);
}

.images .item:nth-child(0){
    transition: all .5s ease 1.3s;
}

.images .item:nth-child(1){
    transition: all .5s ease 1.5s;
}

.images .item:nth-child(2){
    transition: all .5s ease 1.7s;

}

.images .item:nth-child(3){
    transition: all .5s ease 1.9s;

}

.images .item:nth-child(4){
    transition: all .5s ease 2.1s;

}

.images .item:nth-child(5){
    transition: all .5s ease 2.3s;

}

.images .item:nth-child(6){
    transition: all .5s ease 2.5s;

}

.images .item:nth-child(7){
    transition: all .5s ease 2.7s;

}

.show .images .item:nth-child(0){
    opacity: 1;
        transform: translateY(0);

}

.show .images .item:nth-child(1){
    opacity: 1;
        transform: translateY(0);

}

.show .images .item:nth-child(2){
    opacity: 1;
        transform: translateY(0);


}

.show .images .item:nth-child(3){
    opacity: 1;
        transform: translateY(0);


}

.show .images .item:nth-child(4){
    opacity: 1;
        transform: translateY(0);


}

.show .images .item:nth-child(5){
    opacity: 1;
        transform: translateY(0);


}

.show .images .item:nth-child(6){
    opacity: 1;
        transform: translateY(0);


}

.show .images .item:nth-child(7){
    opacity: 1;
        transform: translateY(0);


}



.images .item .actual-img{
    width: 100%;
    height: 100%;
}


.images .item .expand{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.34901960784313724);
    color: white;
    transition: all .3s ease;
    opacity: 0;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(128deg, rgba(0,0,0,0.3) 11%, rgba(0,0,0,0.6) 82%);
    background: -webkit-linear-gradient(128deg, rgba(0,0,0,0.3) 11%, rgba(0,0,0,0.6) 82%);
    background: linear-gradient(150deg, rgba(0,0,0,0.3) 11%, rgba(0,0,0,0.53) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.images .item:hover .expand {
    opacity: 1;
}

.images .item .expand .hint{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border: 0;display: block;width: 100%;text-align: center;}

.show .go-back {
    opacity: 1;
}

.show .image {
    opacity: 1;
    transform: scale(1);
}

.show p.desc-details {
    opacity: 1;
    transform: translateY(0px);
}

.show p.desc {
    opacity: 1;
    transform: translateY(0px);
}

.show p.desc-main-details {
    opacity: 1;
    transform: translateY(0px);
}

.show h2.desc-title {
    opacity: 1;
    transform: translateY(0px);
}



p.about-title {
    font-size: 2em;
    margin-top: 0;
    animation: fadeIn .5s ease forwards;
}

p.about-desc {
    margin-top: 0;
    margin-bottom: 0;
    animation: fadeIn .5s ease forwards;

}

p.about-edu {
    margin-top: 1.2em;
    font-size: 1.4em;
    margin-bottom: .4em;
    animation: fadeIn .5s ease forwards;

}

p.edu-list {
    margin-top: .4em;
    animation: fadeIn .5s ease forwards;

}

p.exh-list {
    margin-top: .4em;
    animation: fadeIn .5s ease forwards;

}

p.about-exh {
    margin-top: 1.4em;
    font-size: 1.4em;
    margin-bottom: .4em;
    animation: fadeIn .5s ease forwards;

}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(4px);}
    to {opacity: 1;transform: translateY(0px);}
  }



  @keyframes fadeOut {
    from {opacity: 1;transform: translateY(0px);}
    to {opacity: 0; transform: translateY(2px);}
  }


  .contact{
    position: fixed;
    width: 100%;
    max-width: 609px;
    height: 100%;
    background: white;
    color: #121212;
    top: 0;
    text-align: center;
    z-index: 78;
    right: -100%;
    transition: all .7s ease;
  }

  .dark-mode .contact{
      COLOR: white;
      background: #121212;
  }


  .contact-overlay{
      display:none;
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      z-index: 77;
      height: 100%;
      background: black;
      transition: all .7s ease;
      opacity: 0;
      cursor: pointer;
  }


  .contact.active{
    right: 0;
}


.contact .show{

}

.contact-overlay.active{opacity: .4;}



.dark-mode .contact-overlay.active{opacity: .6;}

.contact a, .contact p{font-size: 1.7em;opacity: 0;transform: translateY(3px);color: #121212;}

.dark-mode .contact a,.dark-mode .contact p{
    color: white;
}


.contact .exit{position: absolute;top: 2em;opacity: 0;right: 2.3em;transition: all .3s ease .6s;cursor: pointer;}


.contact .center{
    position: relative;
    top: 46%;
    transform: translateY(-50%);
}

.contact.show .mail{opacity: 1;transform: translateX(0);}

.contact .mail{transition: all .3s ease;}


.contact .phone{transition: all .3s ease .2s;}

.contact .facebook{transition: all .3s ease .4s;}





.contact.show .phone{opacity: 1;transform: translateX(0);}

.contact.show .facebook{opacity: 1;transform: translateX(0);}
.contact.show .exit{
    opacity: 1;
}




  @media only screen and (max-width: 1520px) {
  body {
    font-size:14px;
  }
  .bg .image-title span{
    font-size: 8em
  }
}


@media only screen and (max-width: 1210px) {
    body {
      font-size:13px;
    }
    .bg .image-title span {
        font-size: 7em;
    }

  .list .bg .image-title{
        top: calc(100% + 2em);
        left: 50%;
        right: initial;
        transform: translateX(-50%);
        opacity: 1 !important;
  }
  .images .item{
    width: 8em;
    height: 8em;
  }
  }
  

  @media only screen and (max-width: 1010px) {
    .bg .image-title span {
        font-size: 5em;
    }

    .left-side .hint,.right-side .date, .scroll{
        display: none;
    }
    .right-side{
        bottom: -6em;
        left: 50%;
        transform: translateX(-50%);
    }
  }

  @media only screen and (max-width: 750px) {

    .bg .image-title span{
        font-size: 2em;
    }
    .left-side, .dim-hint{
        display:none;
    }

    .left-content{
        display: block;
        float:none;
        width: 100%;
        position: relative;
        margin-top: 8em;
        }
    .image{ width: 100%;
        width: 70%;
        margin-lefT:15%;
}
    .info-container .main-container{
        padding: 3em;
    }
    .right-content{
        width: 100%;
        float: none;
        margin-top: 2em;

    }
    .go-back{
        position: absolute;
        top: -6.5em;
    }
    #darkmode{
        display: none;
    }
    .logo{
        top: 1.27em;
        font-size: 1.2em;
    }
  }


  .slider{transition: all .7s ease;display: none;position: fixed;background: white;width: 100%;height: 100%;top: 0;left: 0;z-index: 80;opacity: 0;}

  .previous{position: absolute;left: 2em;top: 50%;transform: translateY(-50%);cursor: pointer;opacity: 0;transition: all .3s ease .3s;}

  .next{position: absolute;right: 2em;top: 50%;transform: translateY(-50%);cursor: pointer;opacity: 0;transition: all .3s ease .4s;}

  .slider-counter{position: absolute;bottom: 2em;left: 50%;transform: translateX(-50%);cursor: pointer;opacity: 0;transition: all .3s ease .5s;}

  .exit-slider{
      position: absolute;
      right: 2em;
      top: 2em;
      width: 3em;
      height: 3em;
      cursor: pointer;
      opacity: 0;
      transition: all .3s ease .7s;
  }

  .show .slider{opacity: 1;}

  .show .previous{opacity: 1;}

  .show .next{opacity: 1;}

  .show .slider-counter{opacity: 1;}

  .show .exit-slider{
      opacity: 1;
  }

  .slider.active{
      opacity: 1;
  }

  .exit-slider span{display: block;width: 100%;height: 1px;background: #121212;position: absolute;transform: rotate(45deg);top: 50%;}


  .exit-slider span:nth-child(2){transform: rotate(-45deg);}

.slider-image{position: absolute;width: calc(100% - 30em);height: calc(100% - 16em);left: 0;right: 0;top: 0;bottom: 0;margin: auto;opacity: 0;transition: all .6s ease;}

#slider-img{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.show .slider-image{
  opacity: 1
}


.slider-image.hide{
    opacity: 0;
}



.dark-mode .previous {
    color: white;
}

.dark-mode .next {
    color: white;
}

.dark-mode .slider-counter {
    color: white;
}

.dark-mode .exit-slider span {
    background: white;
}

.dark-mode .slider {
    background: #121212;
}


body::-webkit-scrollbar {
    display: none;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  body,html {
    -ms-overflow-style: none;
  }
  .about .images {
    margin-top: 3em;
    margin-bottom: 2em;
}